<h2 style="text-align: center;">Welcome Admin</h2><br><br>
<div class="container">
    <ul>

        <li>
            <a routerLink="/adminallfood">
                <button class="btn btn-success">All Food</button>
            </a>
        </li><br><br>


        <li>
            <a routerLink="/addfood">
                <button class="btn btn-danger">Add Food</button>
            </a>
        </li><br><br>

        <li>
            <a routerLink="/homepage">
                <button class="btn btn-secondary">Logout</button>
            </a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>